.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__title-wrap {
  padding: 0.5rem 1rem;
  background-color: var(--red);
  font-size: 2rem;
  color: var(--white);
  width: max-content;
}

.about__text {
  width: 100%;
  max-width: 470px;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.8rem;
  color: var(--white);
  letter-spacing: 0.1rem;
  margin-top: 1rem;
}
