@import "./layout";
@import "./vars";
@import "./screen_first";
@import "./screen_second";
@import "./screen_third";
@import "./screen-fourth";
@import "./screen_fifth";
@import "./screen_sixth";
@import "./footer";

body {
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--dark);
  }
  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: var(--red);
    border-radius: 7px;
    // border: 6px solid $dark-gray;
    // box-shadow: $accent-shadow;
  }
}

.screen {
  padding: 4rem 1rem;
  @media (max-width: 768px) {
    padding: 2rem 1rem;
  }
}

.screen_dark {
  background-color: var(--dark);
}

.screen_white {
  background-color: var(--white);
}

.section-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  padding-bottom: 2rem;
  animation-duration: 2s;
  @media (max-width: 576px) {
    align-items: flex-start;
  }
}

.section-header_black {
  color: var(--dark);
}

.section-header__title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  position: relative;
  @media (max-width: 576px) {
    font-size: 24px;
    line-height: 24px;
    padding-left: 20px;
    &:before {
      content: "";
      width: 4px;
      height: 50px;
      background-color: var(--red);
      position: absolute;
      top: 4px;
      left: 0;
      display: block;
    }
  }
}

.section-header__subtitle {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  @media (max-width: 576px) {
    padding-left: 20px;
    text-align: inherit;
    font-size: 14px;
    br {
      display: none;
    }
  }
}

.sub-header {
  font-size: 1.5rem;
  color: var(--white);
  margin: 1.5rem 0;
}

.footer {
  padding: 1rem 0;
  border-top: 2px solid var(--gray);
  @media (max-width: 576px) {
    padding: 1rem;
  }
}

.footer__content {
  display: flex;
  align-items: center;
}

.footer__text {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  font-size: 14px;
}

.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  background-color: var(--dark);
  animation-duration: 2s;
  opacity: 1;
  img {
    width: 100%;
    max-width: 64px;
  }
}

.preloader__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  transition: all 500ms;
}

.preloader__content_hidden {
  opacity: 0;
}

.preloader_hidden {
  transition: all 1600ms;
  opacity: 0;
  pointer-events: none;
}

.preloader__text {
  font-size: 2rem;
  color: var(--white);
  animation-duration: 2s;
  text-align: center;
  padding: 1rem;
  strong {
    color: var(--red);
    animation-duration: 3s;
  }
}
